*{
  margin:0;
  padding:0;
}
body{
  background:#292B2C;
  color:white;
}
#intro{
  font-family: 'Varela Round', sans-serif;
  text-align:center;
}
#intro p{
  margin-top:20px;
}
#episodes{
  margin-top:40px;
  text-align:center;
}
#episodes h2{
  font-family: 'Baumans', cursive;
  margin-top:18px;
}
#episodes a{
  color:#3C89D0;
  text-decoration:none;
  margin-top:7px;
  margin-bottom:7px;
  padding:5px;
}
footer p{
  color:white;
  text-align:center;
  margin-top:30px;
  margin-bottom:10px;
}